

.fondo__pagina {
    display: grid;
    background-color: lavender;
    border-radius: 10px 10px 0 0;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

    }

header {
    background-color: rgb(179, 179, 230);
}
header .logo { 
width: 75px;
}

main{
    font-style: italic;
    color:rgb(187, 129, 129);
    

}

.card {
    flex-wrap: wrap;

}
 
footer {
    background-color: rgb(179, 179, 230);
    border-radius: 0 0 10px 10px;
}